html, body {
    height: 100%;
}

.uk-button > [uk-icon] {
    vertical-align: text-top;
}

:not(.uk-button) > [uk-icon] {
    vertical-align: middle;
}

.uk-notification {
    border: solid 1px lightgray;
}

.uk-notification-message {
    background: white;
}